@use 'ag-grid-community/styles' as ag;

@import "styles/variables";

@include ag.grid-styles((
  theme: custom-angular,
  extend-theme: alpine-dark,
  font-size: 14px,
  border-radius: 4px,
  header-column-separator-display: block,
));

.ag-theme-custom-angular .ag-menu-option-active {
  background-color: #2661ad;
  color: white;
}

.grid-result {
  height: 100%;
  margin-top: 2em;
  box-shadow: 2px 2px 2px $background-color,
    -1px -1px 3px $background-color;
}
