$primary-background-color: #212122FF;
$primary-material-color: #424242;
$background-color: black;
$primary-color: #64b5f6;
$primary-error: #e57373;
$accent-color: #90caf9;
$disabled-color: rgba(255, 255, 255, 0.6);
$box-shadow-darker: #7aacd4;
$box-shadow-darkest: #677f95;
$box-shadow-lighter: #a6e8ff;

