@import 'src/styles/variables';

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $background-color;
  box-shadow: 25px 25px 50px #121111,
  inset -25px -25px -50px #484343;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  font-size: x-large;
  font-weight: bold;
  &:hover {
    color: $accent-color;
  }
}
